<div id="accessoryList" class="container">
    <ul>
        <div class="row">
            <button class="col-md-4 col-sm-6 col-12 btn btn-outline-info" (click)="accessorySelect(accessory)"
                *ngFor="let accessory of accessories" type="button" data-toggle="button" aria-pressed="false">
                <div style="text-align: center;">{{ accessory.accessoryName }}</div>
                <div style="text-align: center;">{{ accessory.accessoryCost }}</div>
            </button>
        </div>
        <div style="background-color: #054086;" class="btn btn-success" (click)="finishSelection()" role="button">
            tamamla
        </div>
    </ul>
</div>